/* ****** commons ****** */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 80px;
	margin: 20px;
}

/* ****** header ***** */
.header-top {
	margin-bottom: 20px;
}

.header-bottom {
	margin-bottom: 20px;
}

/* ***** main ***** */

/* ****** debug ****** */
.debug .header-top {
	height: 90px;
	background-color: rgb(229, 121, 230);
}

.debug .header-bottom {
	height: 400px;
	background-color: rgb(225, 214, 122);
}
